
:root{
  --main-color:#5A5AC9;
  --light:#fff;
  --dark:#000;
}
html {
  box-sizing: border-box!important;
}
*,
*:before,
*:after {
  box-sizing: inherit!important;
}

body{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0!important;
}
ul,ol{
  list-style: none!important;
  margin: 0!important;
  padding: 0!important;
}
img{
  width:100%;
  height:auto;
}
a{
  text-decoration: none!important;
  display: inline-block!important;
}
.container{
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.linksW{
  color: var(--light)!important;
}
.linksW:hover{
  transition: 0.3ms;
  color: var(--main-color)!important;
}

.dn{
  display: none;
}
.db{
  position: absolute;
  top: 20%;
  display: flex;
  width: 200px;
  border: 2px solid #000;
  gap: 10px;
}
.colItem{
  display: block;
}